body {
  margin: 0;
  background: linear-gradient(to right, #92e9cf, #3596ce, rgb(131, 189, 184),rgb(53, 134, 128));
  border: solid black 4px;
}

/* Header */
.header {
  border: solid black 3px;
  background: linear-gradient(to right, #78e414, #06ec94, rgb(203, 221, 45),rgb(207, 32, 9));
  padding: 7px;
}
.image{
  width: 100px;
  height: 100px;
  gap: 50px;
  border-radius: 25%;
  position: relative;
  right: -50px;
 }
.h{
  display: inline-block;
  position: relative;
  top: -40px;   
  right: -150px;
}

/* Card */
.card {
  background: rgb(163, 226, 177);
  padding: 20px;
  margin-bottom: 20px;
  border: solid black 3px;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.02);
}

/* Layout */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

/* WHEATHER ICON  */
.weather-icon{
  width: 120px;
  height: 120px;
  position: relative;
  right: -130px;
  top: -80px;
}

/* Background  according Wheather */
.weather-clear {
  background: linear-gradient(to right, #baece8, #8ba9cf, rgb(195, 235, 228));
}

.weather-cloudy {
  background: linear-gradient(to right, #6e909c, #8ba9cf, rgb(113, 131, 158));
}

.weather-rainy {
  background: linear-gradient(to right, rgb(5, 65, 94), rgb(28, 136, 131), rgb(17, 47, 110))
}

.weather-hot {
  background: linear-gradient(to right, rgb(219, 155, 102),rgb(238, 78, 78), rgb(228, 76, 76));
}


/* Search box */
.search-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 18px;
  border: none;
  background: #082bf0;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #01086b;
}

.green-btn {
  background: #3ea14b;
}

.green-btn:hover {
  background: #1b5e20;
}

/* Weather top */
.weather-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.temp-box {
  text-align: center;
  position: relative;
  top: -90px;
}

/* Grid */
.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.info-box {
    border: solid black 2px;
    background: #e3eaee;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* Forecast */
.forecast-grid {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.forecast-card {
  background: #e3f2fd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;
}

/* Utility */
.hidden {
  display: none;
}

.error {
  color: red;
}

 /* responsiveness for various screen sizes */
@media (max-width: 480px) {
  .image {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  .card {
    padding: 15px;
  }

  button {
    width: 100%;
  }
}
