body {
  margin: 0;
  background: linear-gradient(to right, #92e9cf, #3596ce, rgb(131, 189, 184),rgb(53, 134, 128));
  border: solid black 4px;
}

/* Header */
.header {
  border: solid black 3px;
  background: linear-gradient(to right, #78e414, #06ec94, rgb(203, 221, 45),rgb(207, 32, 9));
  padding: 7px;
}
.image{
  width: 100px;
  height: 100px;
  gap: 50px;
  border-radius: 25%;
  position: relative;
  right: -50px;
 }
.h{
  display: inline-block;
  position: relative;
  top: -40px;   
  right: -150px;
}
/* Card */
.card {
  background: rgb(163, 226, 177);
  padding: 20px;
  margin-bottom: 20px;
  border: solid black 3px;
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.02);
}

/* Layout */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
/* WHEATHER ICON  */
.weather-icon{
  width: 120px;
  height: 120px;
  position: relative;
  right: -130px;
  top: -80px;
}

/* Background  according Wheather */
.weather-clear {
  background: linear-gradient(to right, #baece8, #8ba9cf, rgb(195, 235, 228));
}

.weather-cloudy {
  background: linear-gradient(to right, #6e909c, #8ba9cf, rgb(113, 131, 158));
}

.weather-rainy {
  background: linear-gradient(to right, rgb(5, 65, 94), rgb(28, 136, 131), rgb(17, 47, 110))
}

.weather-hot {
  background: linear-gradient(to right, rgb(219, 155, 102),rgb(238, 78, 78), rgb(228, 76, 76));
}
